<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <meta charset="utf-8">
  <title>Iron Runners</title>
  <a href="/add">New Runner</a>
</head>

<body>
  <div class="wrapper">
    {{ #runner }}
      <div class="runner">
        <p><a href='{{ bib_id }}'>{{ name }}</p></a>
        <p>{{ division }} </p>
        <p>{{ sponser }}</p>
      </div>
    {{ /runner }}
</body>

</html>
